body {
    background: linear-gradient(to right, rgb(54, 102, 126), #3eb46f)
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
   
}

.form-container {
    display: grid;
    justify-content: left;
    align-content: center;
    min-height: 60vh;
    grid-template-columns: repeat(1, 200px);
    margin: 5px;
    
}

.form-container > button {
    cursor: pointer;
    font-size: 5rem;
    border: 1px solid rgb(255, 255, 255);
    
    
}

.parent {
    justify-content: center;
    align-content: center;
}
 